<h2>Tuition Payments</h2>
<h3 style="color:white;">You are about to make a payment for <%= @student.fullname %></h3>
<%= form_tag tuitions_path :amount => @student.getStripeCharge, :student_id => @student.id do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%=@student.getStripeCharge %></span>
    </label>
  </article>
  <% @desc = "Tuition - #{@student.fullname}" %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%= @desc %>"
          data-amount=<%=@student.getStripeCharge %>
          data-locale="auto"></script>
<% end %>