<%= form_for @student , :html => {:multipart => true } do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h2 class="student_header">Personal Information</h2>
<div id="personal">
  <div class="field">
	Upload Student Picture
	<%= f.file_field :pic %>
        <% if @student.pic != nil %>
           <%= link_to("Delete Photo",:controller => "students",:action => "remove_pic",:id => @student.id) %>
        <% end %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br />
    <%= f.text_field :telephone %>
  </div>
    <div class="field">
    <%= f.label :carrier %><br />
    <%= f.collection_select :carrier_id, Carrier.all, :id, :name %>
  </div>
      <div class="field">
    <%= f.label "TEXT MSG OK?" %><br />
    <%= f.check_box :sms_ok %>
  </div>
  <div class="field">
    Date of Birth<br />
    <%= f.date_select :dob ,:order => [:month,:day,:year], :start_year => 1920 %>
  </div>
</div><!--END OF PERSONAL DIV -->
<h2 class="student_header">Martial Arts Info</h2>
<div id="Karate">
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.collection_select :rank_id, Rank.all, :id, :color %>
  </div>
  <div class="field">
    Training Start Date<br />
    <%= f.date_select :startdate , :order => [:month, :day, :year], :start_year => 1920 %>
  </div>
  <div class="field">
    <%= f.label :instructors %><br />
    <%= f.text_field :instructors %>
  </div>
  <div class="field">
    <%= f.label :classes_attended_each_week %><br />
    <%= f.number_field :classes_attended_each_week %>
  </div>
<div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    Favorite Martial Artist/Athlete<br />
    <%= f.text_field :favorite_martial_artist %>
  </div>
  <div class="field">
    <%= f.label :favorite_movie %><br />
    <%= f.text_field :favorite_movie %>
  </div>
  <div class="field">
    <%= f.label :favorite_class_activity %><br />
    <%= f.text_field :favorite_class_activity %>
  </div>
  <div class="field">
    <%= f.label :short_term_goal %><br />
    <%= f.text_field :short_term_goal %>
  </div>
  <div class="field">
    <%= f.label :long_term_goal %><br />
    <%= f.text_field :long_term_goal %>
  </div>
   <div class="field">
    <%= f.label :tuition %><br />
    <%= f.text_field :tuition, placeholder: "65" %>
  </div>
</div><!-- END OF KARATE -->
<div class="group">
 <h2>Group Membership</h2>
   <div class="field">
    <%= image_tag("/images/bbc.png", :size => "64x64") %><%= f.label :blackbelt_club %><br />
    <%= f.check_box :blackbelt_club %>
  </div>
  <div class="field">
    <%= image_tag("/images/swat.png", :size => "64x64") %><%= f.label :swat %><br />
    <%= f.check_box :swat %>
  </div>
  <div class="field">
    <%= image_tag("/images/storm.png", :size => "64x64") %><%= f.label :storm %><br />
    <%= f.check_box :storm %>
  </div>
  <div class="field">
    <%= image_tag("/images/demo.png", :size => "64x64") %><%= f.label :demo_team %><br />
    <%= f.check_box :demo_team %>
  </div>
  <div class="field">
    <%= image_tag("/images/tt.png", :size => "64x64") %><%= f.label :tournament_team %><br />
    <%= f.check_box :tournament_team %>
  </div>
  <div class="field">
    <%= image_tag("/images/cardiokick.png", :size => "64x64") %><%= f.label :cardiokick %><br />
    <%= f.check_box :cardiokick %>
  </div>
  <div class="field">
    <%= image_tag("/images/master.png", :size => "64x64") %>Master's Club<br />
    <%= f.check_box :mastersclub %>
  </div>
  <div class="field">
    <%= f.label :instructor %><br />
    <%= f.check_box :instructor %>
  </div>
 <div class="field">
    <%= image_tag("/images/tnet_2x2.png", :size=>"64x64") %>T0urnament.net Member?<br />
    <%= f.check_box :tnet_member %><%=link_to('Sign Up!','https://secure.t0urnament.net/User/Create/')%>
 </div>
 <div class="field">
   T0urnament.net ID (TNET-ID)<br />
   <%= f.number_field :tnetid %>
 </div>
   <div class="actions_btn">
    <%= f.submit %> 
 </div>
</div><!-- END OF GROUP -->
  
<% end %>
