<img class="logo" src="/images/tnet.png" width="100" height="100">
<h1 class="adminTitle">Side Kick&reg; Editing Student(<%= @student.first_name %> <%= @student.last_name %> )</h1>

<%= render 'form' %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
