<link href='//fonts.googleapis.com/css?family=Shojumaru|Prosto+One|Raleway|Playball|Aldrich|Cinzel|Orbitron' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag('application', media: 'all')%>
	<link rel="stylesheet" href="//bootstrap-extension.com/css/4.5.0/bootstrap-extension.min.css" type="text/css">
	<script src="//bootstrap-extension.com/js/4.5.0/bootstrap-extension.min.js"></script>
	<style>
		#tnet-rank{
			font-size:small!important;
			
		}

		#tnet-membership {
    		font-size: small!important;
		}
		#tnet-fname{left:147px!important;top:65px!important;}
		#tnet-lname{left:147px!important;top:85px!important;}
		#tnet-QR{postion:static!important;}
		.badass,.badass2,a{color:white!important;}

		#tnet-QR2 img {
			height: 64px;
    		position: fixed;
    		bottom: -2px;
    		right: -14px;
		}
		#tnet-pic img{
			height: 100%; 
		    width: 125px;
		    position: absolute;
		    top: 35px;
		    left: 15px;
		    background: gray;
		    border: none;
		}
		body{
			background:white!important;
			color:black!important;
		}
		.badass,.badass2,.instructions,a {
			color:black!important;
			background:white;
		}
	</style>
	</br>
	<div class="container text-center">
		<h1>Attendance Student Identity Card</h1>
		<h2 class="badass2">by T0urnament.net</h2>
	</div>
	
	<div id="identity_placeholder">
		<div id="tempidentity">
			<div id="tnet-dojo-banner"><%= @dojo.name %></div>
			<div id="tnet-pic">
				<% if @student.pic? then %>
					<%= image_tag @student.pic_url %>
                                <% else %>
                                        <%= image_tag "noMug.jpg" %>
				<% end %>
			</div>
			<div id="tnet-logo">
				<% if @dojo.pic? then %>
                                	<%= image_tag @dojo.pic_url %>
                        	<% else %>
					<%= image_tag "tnet2x2.png" %>
				<% end %>				
			</div>
			<div id="tnet-fname"><h3><%= @student.first_name %></h3></div>
			<div id="tnet-lname"><h3><%= @student.last_name %></h3></div>
			<div id="tnet-badge-ribbon">
				<% if @student.blackbelt_club %>
						<img src="/images/bbc.png" width="25" height="25" alt="badge">
				<% end %>
                <% if @student.swat %>
                        <img src="/images/swat.png" width="25" height="25" alt="badge">
                <% end %>
                <% if @student.storm %>
                        <img src="/images/storm.png" width="25" height="25" alt="badge">
                <% end %>
                <% if @student.demo_team %>
                        <img src="/images/demo.png" width="25" height="25" alt="badge">
                <% end %>
                <% if @student.tournament_team %>
                        <img src="/images/tt.png" width="25" height="25" alt="badge">
                <% end %>
                <% if @student.cardiokick %>
                        <img src="/images/cardiokick.png" width="25" height="25" alt="badge">
                <% end %>
                <% if @student.mastersclub %>
                        <img src="/images/master.png" width="25" height="25" alt="badge">
                <% end %>
                <% if @student.tnet_member %>
                        <img src="/images/tnet_2x2.png" width="25" height="25" alt="badge">
                <% end %>
			</div>
			<% if @student.rank.base == "white" || @student.rank.base == "yellow" || @student.rank.base == "orange" %>
			     <%	@fontcolor = "black" %>
			<% else %>
			     <%	@fontcolor = "white" %>
			<% end %>
			<div id="tnet-rank" style="background:<%= @student.rank.base %>;color:<%= @fontcolor %>;"><%= @student.rank.color %></div>
			<div id="tnet-membership">Member Since: <%= @student.startdate.strftime("%m/%Y") %></div><!-- END OF FRONT OF ID CARD -->
			<% @url = "<img src=" + "https://chart.googleapis.com/chart?chs=300x300&cht=qr&chl=#{root_url}attend?id=#{@student.id}&choe=UTF-8" %>
			<% @alternate_text = "Student IdentityCard for #{@student.first_name} #{@student.last_name}" %>
			<div id="tnet-QR"><%= raw(@url) %> title=<%= @alternate_text %> /></img></div>
		</div>
		

		<div id="tempidentity2" class="rotate">
					<p class="small p-2">Keep this STUDENT ID with you at all times. Be sure to hand it to your instructor at the beginning of each class or whomever is designated by your instructor to process it.<br/>
	
							<% @url2 = "<img src=" + "https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=#{root_url}dashboard/payments?student_id=#{@student.id}&choe=UTF-8" %>
							<% if ENV['PAYMENTS'] && ENV['PAYMENTS'] == "true" %>
								Scan to pay tuition online: <%= raw(@url2) %> title=<%= @alternate_text %>><span class="small">www.t0urnament.net | blackbelt@t0urnament.net | 401-237-0101</span></img>
							<% else %>
								<hr>
								<span class="p-2">https://www.t0urnament.net blackbelt@t0urnament.net | 401-237-0101</span>
							<% end %>

		</div>
	</div>
	<br />
	<p class="instructions">*Print this Attendance Student Identity Card out and laminate using the T0urnament.net ID Creation Kit <%= link_to "(TNET_ID_KIT_STARTER)","https://t0urnament.net/product/id-starter-kit-w-bonus/" %>*<br />Be sure to leave adaquete time for the ink to dry before laminating this ID.</p>
	
