<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="#"><img class="logo" src="/images/tnet.png" width="50" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Dashboard', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'New Student', new_student_path, class: "nav-link" %>
      </li>
    </ul>
    <span class="navbar-text white-text">
       Side Kick&reg; Profiles
    </span>
  </div>
</nav>

<div class="container mt-4 mb-6">
	<div class="row">
		<div class="col-8 text-light text-right">Licenses</div>
		<div class="col-4 "> 
				<div class="progress">
					<% if (100 - licenseLevel) < 50 %>
						<div class="progressbar bg-warning progress-bar-striped progress-bar-animated text-dark"
					<% else %>
					<div class="progressbar bg-success progress-bar-striped progress-bar-animated" 
					<% end %>
					style="width:<%= 100 - licenseLevel %>%" aria-value-min="0" aria-value-now=<%= gasTank(1) %> aria-value-max=<%=@dojo.max %>><%= gasTank(1) %> remaining
					</div><!--progressbar-->
				</div><!--progress-->
		</div><!--col-4-->
	</div><!--row-->

	<div class="row">
		<% if @missed > 0 %>
			<script>
				$(document).ready(function(){
				$("#missed").fadeIn('slow');
				$("#missed").delay(5000).fadeOut('slow');
				$('[data-toggle="tooltip"]').tooltip()
				});
				 
			</script>
			<div id="missed">
				<div class="ribbon">
					<div class="ribbon-stitches-top"></div>
					<strong class="ribbon-content"><h1>You have <%= @missed %> Students Who Are Missed :(</h1></strong>
					<div class="ribbon-stitches-bottom"></div>
				</div>
  			</div>
		<% end %>
	</div><!-- end row -->
</div><!-- end container -->
<div class="container">
		<% if @students.count == 0 %>
			<br />
			<div class="group">
				<h2>No Students Yet, Get To Work. ;)</h2>
					<p>If you dont have time, T0urnament.net offers an affordable DATA LOAD (ETL) Service.</p>
					<p>Visit us and get started: <%=link_to('http://www.t0urnament.net','https://t0urnament.net/product/sidekick-student-load-etl-service/')%>
					</p>
			</div>
		<% else %>
		<h2>You have <%= @students.count %> Students</h2>
			<table class="table table-responsive table-striped table-dark table-bordered  w-100">
  				<tr class="thead-light">
    				<th></th>
				    <th>Student</th>
				    <th>Age</th>
				    <th>Rank</th>
				    <th>Years in training</th>
				    <th>Instructors</th>
				    <th>Classes attended each week</th>
				    <th>Clubs</th>
					<th>Admin Controls</th>
				</tr>
				<% @students.each do |student| %>
		  			<tr>
					<td>
						<% if student.pic? then %>
							<%= image_tag student.pic_url(:thumb) %>
						<% else %>
							<%= image_tag 'noMug.jpg', width: '125px' %>
						<% end %>
					</td>
					<td><%= student.first_name %> <%= student.last_name %></td>
				    <td><%= student.getAge %></td>
				    <td><%= student.rank.color %></td>
				    <td><%= student.years_in_training %></td>
				    <td><%= student.instructors %></td>
				    <td><%= student.classes_attended_each_week %></td>
					<td>
						<% if student.blackbelt_club? then %>
							<%= image_tag("/images/bbc.png", :size => "64x64") %>
						<% end %>
						<% if student.swat? then %>
							<%= image_tag("/images/swat.png", :size => "64x64") %>
						<% end %>
						<% if student.storm? then %>
							<%= image_tag("/images/storm.png", :size => "64x64") %>
						<% end %>
						<% if student.demo_team? then %>
							<%= image_tag("/images/demo.png", :size => "64x64") %>
						<% end %>
						<% if student.tournament_team? then %>
							<%= image_tag("/images/tt.png", :size => "64x64")%>
						<% end %>
						<% if student.cardiokick? then %>
	                        <%= image_tag("/images/cardiokick.png", :size => "64x64") %>
	                    <% end %>
	                    <% if student.instructor? then %>
	                       <%= image_tag("instructor.png", :size => "64x64") %>
	                    <% end %>
	                    <% if student.mastersclub? then %>
	                        <%= image_tag("/images/master.png", :size => "64x64") %>
	                    <% end %>
					</td>

				    
					<td>
				    <%= link_to '<i class="fas fa-user-edit"></i> |'.html_safe, edit_student_path(student),:data => {:toggle => 'tooltip', :html => true, :title => '<em>Tooltip</em> <u>with</u> <b>HTML</b>',:placement => 'top'}%>
				    	<% if student.pic != nil %>
				    		
							<% if @dojo.available_prints && student.pic != nil %>
				    			<%= link_to('<i class="fas fa-id-card-alt"></i> |'.html_safe,:controller => "students",:action => "identity",:id => student.id) %>
							<% else %>
								<%= link_to " Print ID (Get Licenses) |","http://www.t0urnament.net/nolicense.html" %>
							<% end %>
						<% end %>
				    <%= link_to('<i class="fas fa-calendar-check"></i> |'.html_safe,:controller => "attendances",:action => "index",:id => student.id) %>
					<%= link_to '<i class="fas fa-user-times"></i>  '.html_safe, student, :method => :delete,:class=>:destroy, :data => { :confirm => 'Are you sure?' } %>
				       <% if student.is_missed %>
							<div class="caution">
			                 <%= link_to(image_tag("caution.png"),:controller => "students",:action => "missme", :id => student.id) %>
			               </div>  
				       <% end %>
				  </td>
				  </tr>
				<% end %>
			</table>
		<% end %>
	</div><!-- end container -->