
<style>
	.student_pic_overlay{
		position: absolute;
    	top: 1px;
    	left: 0px;
    	border-radius: 50%!important;
    	overflow: hidden;
	}
	.round{
		border-radius: 50%;
    	width: 60px;
	}
	.student_pic_overlay img{
		width:150px;
		height:150px;
	}
</style>
<%= image_tag @image_holder, style: 'width:150px;' %>

<h1 class="adminTitle">Side Kick&reg; Showing <%=@student.first_name %> <%=@student.last_name %></h1>

<div class="student_pic_overlay">
<% if @student.pic? then %>
	<%= image_tag @student.pic_url %>
<% end %>
</div>

		
			<h2 class="round"><%= daysAtRank(@student.id)%></h2>	
			<h3>Days at Rank</h3>
		
		
			<h2 class="round"><%= daysInTraining(@student.id)%></h2>	
			<h3>Classes Taken</h3>
		
			<h2 class="round">$<%= @student.tuition %></h2>
			<h3>Tuition</h3>	
		

