
<style>
	.student_pic_overlay{
		position: absolute;
    	top: 15px;
    	left: 15px;
    	border-radius: 50%!important;
    	overflow: hidden;
	}
	.round{
		border-radius: 50%;
    	width: 60px;
	}
	.student_pic_overlay img{
		width:150px;
		height:150px;
	}
</style>

<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="#">
  	<%= image_tag @image_holder, class: "logo", style: 'width:150px;' %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Payments', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Your Info', edit_student_path, class: "nav-link" %>
      </li>
    </ul>
    <span class="navbar-text white-text">
       Side Kick&reg; Showing <%=@student.fullname%>
    </span>
  </div>
</nav>

<div class="student_pic_overlay">
<% if @student.pic? then %>
	<%= image_tag @student.pic_url %>
<% end %>
</div>
<div class="container">
	<div class="card-columns">
	<section class="card mb-5">
		<div class="card-body">
			<h2 class="card-img"><%= daysAtRank(@student.id)%></h2>
			<h3 class="card-title">Days at Rank</h3>
			<p>This represents the number of classes or hours you have trained since your last promotion. The number may not accurately reflect your hours at rank if this was the first belt since Sidekick was used.</p>
		</div>
	</section>
		<section class="card mb-5">
		<div class="card-body">
			<h2 class="card-img"><%= daysInTraining(@student.id)%></h2>
			<h3 class="card-title">Classes Taken</h3>
			<p>Regular training habits are important to your growth as a Martial Artist. This is the total recorded classes you have taken since this attendance system has been implemented.</p>
		</div>
	</section>
		<section class="card mb-5">
		<div class="card-body text-center">
			<h2 class="card-img">$<%= @student.tuition %></h2>
			<h3 class="card-title">Tuition</h3>
			<p>Your current monthly tuition payment is shown here on this card. If you would like to setup a re-occuring charge, see an instructor.</p>
		</div>
		<% if ENV['PAYMENTS'] && ENV['PAYMENTS'] == "true" %>
			<div class="card-footer text-center"><%=link_to 'Submit a Payment', "#{root_url}dashboard/payments?student_id=#{@student.id}" %></div>
		<% end %>
	</section>
	</div><!-- end of card columns -->
	<div class="container">
		<h1 class="text-light">Last Recorded Payments</h1>
		<% if ENV['PAYMENTS'] && ENV['PAYMENTS'] == "true" %>
			<% if !@payments.empty? %>
				<table class="table-dark table-bordered table-striped text-center">
					<thead>
						<tr><td>Payment Date</td><td>Payment Amount</td><td>Payment ID</td></tr>
					</thead>
					<% @payments.each do |payment| %>
						<tr>
							<td><%=payment.created_at%></td>
							<td>$<%=payment.amount.delete_suffix('00')%></td>
							<% if payment.stripe_id != nil %>
								<td><%= payment.stripe_id %></td>
							<% else %>
								<td>not recorded.</td>
							<% end %>
						</tr>
					<% end %>
				</table>
			<% else %>
					<h2 class="text-monospace">No Payments have been recorded.</h2>
			<% end %>
			<% else %>
					<h2 class="text-monospace">Your Dojo has not enabled payments. Please check with the Dojo for tuition information.</h2>
			<% end %>
	</div><!-- end of container -->
</div><!-- end of container -->
	
		

