<img class="logo" src="/images/tnet.png" width="100" height="100">
<h1 class="adminTitle">Side Kick&reg; Showing <%=@student.first_name %> <%=@student.last_name %></h1>
<p id="notice"><%= notice %>
<div class="button">
        <%= link_to 'Add Another Student', new_student_path %>
</div>
</p>

<div class="field">
<p>
  <b>Photo file name:</b>
  <%= @student.photo_file_name %>
</p>
<% if @student.photo.exists? then %>
	<%= image_tag @student.photo.url(:sidekickmobile) %>
<% end %>

<%= link_to 'Done', welcomes_path %>
