<style type="text/css">
	.notify_banner{
		color: white;
	    text-align: center;
	    background: #909090;
	    width: 200px;
	    text-align: center;
	    margin: auto;
	    position: fixed;
	    bottom: 20px;
	    left: 20px;
	    border-radius: 15px;
	    padding: 10px;
	}
	nav a{
		display: inline-block;
		padding: 15px 20px;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
	}
	#top_left{
	    /* opacity: 0.5; */
	    width: 33%;
	    float: left;
	    margin-left: 10px;
	}
	#top_middle{
		background-color: orange;
		opacity: 0.5;
		width:33%;
		float: left
	}
	#top_right{
	    width: 33%;
	    float: right;
	    text-align: right;
	    margin-right: 10px;
	    margin-bottom: 50px;
	}
	#left_nav{
	    width: 30%;
	    clear: both;
	    position: absolute;
	    width: 100%;
	    top: 75px;
	}
	#right_nav{
		background-color: white; 
		width:64%;
		float:right;
		padding:11px;
	}
	BODY{
		background-image: url(/images/background.png);
    	background-repeat: repeat-x;
    	background-color: #3A3A3A;
    	color: #000000;
    	margin: 0px;
    	padding: 0px;
	}
	li,ul{
		list-style-type: none;
	}
	.notifications{
		clear: left;
	}
	.sideaction{
	    transform: rotate(-90deg);
	    position: absolute;
	    top: 383px;
	    left: -66px;
	    color: #909090;
	}
</style>
<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="#"><img class="logo" src="/images/tnet.png" width="50" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
		<li><i class="fas fa-people-carry"></i><%= link_to('Setup Your Dojo', dojos_path )%></li>
		<li><i class="fas fa-cogs"></i><%= link_to('Configure Ranks', ranks_path )%></li>
		<li><i class="fas fa-users"></i><%= link_to('Manage Students', students_path )%></li>
		<li><i class="fas fa-sms"></i><%= link_to('Mass Notify', messages_path )%></li>
		<li><i class="fas fa-shopping-cart"></i><%= link_to('Purchase Licenses', 'https://t0urnament.net/product/sidekick-student-license/', target: :_blank )%></li>
    </ul>
    <span class="navbar-text white-text">
       Side Kick&reg; Dashboard
    </span>
  </div>
</nav>
<div class="jumboton">
	 <h2 class="display-4 motto">Martial Arts Management System</h2>
  <p class="lead text-center text-light">Welcome to the Sidekick Dashboard. This is your home base to see whats happening with your Dojo.</p>
  <% if @alert_count > 0 %>
  	<p class="lead text-center text-danger">
  		<%= link_to "#{@alert_count} Alerts Active", students_url %>
  	</p>
  <% end %>
  <hr class="my-4">
</div>

<div class="container">
	<div class="row">
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="far fa-id-card"></i> Licenses</div>
				<div class="card-body">
					<h5 class="card-title">Student Identity Card Licenses</h5>
					<p class="card-text"><div class="progress">
					<% if (100 - licenseLevel) < 50 %>
						<div class="progressbar bg-warning progress-bar-striped progress-bar-animated text-dark"
					<% end %>
						<div class="progressbar bg-primary progress-bar-striped progress-bar-animated text-light" 
					style="width:<%= 100 - licenseLevel %>%" aria-value-min="0" aria-value-now=<%= gasTank(1) %> aria-value-max=<%=@dojo.max %>><%= gasTank(1) %> remaining
					</div><!--progressbar-->
				</div><!--progress-->
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="fas fa-user-plus"></i> New Students</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text h1"><%= studentsGained() %></p>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="fas fa-user-minus"></i> Lost Students</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text h1"><%= studentsLost() %></p>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="fas fa-chart-line"></i> Growth</div>
				<div class="card-body">
					<h5 class="card-title">Monthly Forecast: $<%= monthlyIncomeForecast %></h5>
					<p class="card-text h1"><%= studentGrowth() %>%
						<% if studentGrowth().to_i > 0 %>
							<i class="fas fa-sort-up"></i>
						<% else %>
							<i class="fas fa-sort-down"></i>
						<% end %>
					</p>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="fas fa-chart-line"></i> Programs</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text h6">
						<% if @karate_program_count > 0 %>
							Karate:<%= @karate_program_count  %><br>
						<% end %>
						<% if @kickboxing_program_count > 0 %>
							Kickboxing:<%= @kickboxing_program_count  %><br>
						<% end %>
						<% if @krav_maga_program_count > 0 %>
							Krav Maga:<%= @krav_maga_program_count  %><br>
						<% end %>
						<% if @sword_program_count > 0 %>
							Sword:<%= @sword_program_count  %><br>
						<% end %>
						<% if @tae_program_count > 0 %>
							Tae Kwon Do:<%= @tae_program_count  %><br>
						<% end %>
						<% if @trial_program_count > 0 %>
							Trials:<%= @trial_program_count  %><br>
						<% end %>
						
					</p>
				</div>
			</div>
		</div>
		<!--<div class="col-3 no-wrap p-2">
			
				<h2 class="motto">Elevate. Your. Dojo.</h2>
			
		</div> -->
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="fas fa-chart-pie"></i> Top Classes</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text">	<% if @attendances.count > 1 %>
					Monday: <%= ((@mon.to_f/@attendances.count.to_f) * 100).round %>%
					Tuesday: <%= ((@tue.to_f/@attendances.count.to_f) * 100).round %>% 
					Wednesday: <%= ((@wed.to_f/@attendances.count.to_f) * 100).round %>%
					Thursday: <%= ((@thu.to_f/@attendances.count.to_f) * 100).round %>% 
					Friday: <%= ((@fri.to_f/@attendances.count.to_f) * 100).round %>% 
					Saturday: <%= ((@sat.to_f/@attendances.count.to_f) * 100).round %>% 
					Sunday: <%= ((@sun.to_f/@attendances.count.to_f) * 100).round %>%
				
				<%= pie_chart({
					"Monday" => ((@mon.to_f/@attendances.count.to_f) * 100).round, 
					"Tuesday" => ((@tue.to_f/@attendances.count.to_f) * 100).round,
					"Wednesday" => ((@wed.to_f/@attendances.count.to_f) * 100).round,
					"Thursday" => ((@thu.to_f/@attendances.count.to_f) * 100).round,
					"Friday" => ((@fri.to_f/@attendances.count.to_f) * 100).round,
					"Saturday" => ((@sat.to_f/@attendances.count.to_f) * 100).round,
					"Sunday" => ((@sun.to_f/@attendances.count.to_f) * 100).round,
				}) %>
					<% end %> 
				</p>
				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="far fa-bell"></i> Notification Center</div>
				<div class="card-body">
					<h5 class="card-title"><i class="fas fa-birthday-cake"></i> Birthdays</h5>
					<p class="card-text"><ul>
					<% if @birthday_count == 0 %>
						<li>no birthdays this month</li>
					<% else %>
						<% @students.each do |s| %>
						   <% if s.dob != nil %>
							<% if s.dob.month == Time.now.month %>
							<li>
								<% if s.rank != nil && s.rank.base == "black" %>
									<%= image_tag('black-belt-25x25.png')%>
								<% end %>
								<% if s.email == "" %>
								<%= s.first_name %> <%= s.last_name %> (<%= s.dob.month %>/<%= s.dob.day %>) - <%= link_to('Add Email',edit_student_path(s), :class => "text-primary bg-light") %><br />
								<% else %>
								<%= s.first_name %> <%= s.last_name %> (<%= s.dob.month %>/<%= s.dob.day %>) - <%= link_to('Send Note',:controller => "students",:action => "happyBirthday", :id => s.id, :class => "text-primary bg-light") %><br />
								<% end %>
								</li>
							<% end %> 
						  <% end%>
						<% end %>
						</ul>
					<% end %>
				</p>
				<h5 class="card-title"><i class="fas fa-sad-tear"></i> Missed Students</h5>
					<p class="card-text"><ul>
					<% if @missed_count == 0 %>
					<li>everyone is accounted for :)</li>
					<% else %>
						<% @students.each do |s| %>
							<% if s.is_missed %>
							<li>
								<% if s.email == "" %>
								<%= s.first_name %> <%= s.last_name %> - <%= link_to('Add Email',edit_student_path(s), :class => "text-primary bg-light") %><br/>
								<% else %>
								<%= s.first_name %> <%= s.last_name %> - <%= link_to('Send Note',:controller => "students",:action => "missme", :id => s.id, :class => "text-primary bg-light") %><br/>
								<% end %>
								
							</li>
							<% end %>
						<% end %>
					<% end %>
				</ul></p>
				<h5 class="card-title"><i class="fas fa-exclamation-triangle"></i> Expiring Contracts</h5>
					<p class="card-text"><ul>
					<% if @expiring_contracts.empty? %>
					<li>no upcoming expirations</li>
					<% else %>
						<% @students.each do |s| %>
							<% if s.expiring %>
							<li>
								<%= s.first_name %> <%= s.last_name %> - <%= link_to(s.expiration ,edit_student_path(s), :class => "text-primary") %><br/>
							</li>
							<% end %>
						<% end %>
					<% end %>
				</ul></p>






				</div>
			</div>
		</div>
		<div class="col-3 text-center">
			<div class="card bg-light mb-3">
				<div class="card-header"><i class="fas fa-heartbeat"></i> Dojo Health</div>
				<div class="card-body">
					<h5 class="card-title"></h5>
					<p class="card-text"><ul>
					<li><%=image_tag('white-belt-25x25.png')%>White Belt - <%=belt_count("white")%></li>
					<li><%=image_tag('yellow-belt-25x25.png')%>Yellow Belt - <%=belt_count("yellow")%></li>
					<li><%=image_tag('orange-belt-25x25.png')%>Orange Belt - <%=belt_count("orange")%></li>
					<li><%=image_tag('purple-belt-25x25.png')%>Purple Belt - <%=belt_count("purple")%></li>
					<li><%=image_tag('blue-belt-25x25.png')%>Blue Belt - <%=belt_count("blue")%></li>
					<li><%=image_tag('green-belt-25x25.png')%>Green Belt - <%=belt_count("green")%></li>
					<li><%=image_tag('brown-belt-25x25.png')%>Brown Belt - <%=belt_count("brown")%></li>
					<li><%=image_tag('black-belt-25x25.png')%>Black Belt - <%=belt_count("black")%></li>
				</ul></p>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
		<div class="col-4">
				<p class= "notify_banner" style="color:white;text-align: center;">
			Welcome to the administration area of Sidekick Server. Here you will be able to do all the things you need. If you have any issues you can always email <%=mail_to('blackbelt@t0urnament.net','Support') %><i class="far fa-life-ring"></i>
		</p>
		</div>
		<div class="col-8 motto medium text-right text-primary">
			Version: <%= @Version %>
		</div>
	</div>
</div>









</div>