<style type="text/css">
  .home_video {
 width: 100vw;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}
.new_user{
  padding:50px;
  height:100%;
  width: 100%;
  background: none;
}
</style>
<%= image_tag "adrien-lemaire-N8Qlw1gi4rA-unsplash.jpg",class: "home_video" %>
<div class="container">
  <div class="jumbotron shadow">
    <h1 class="display-4">Sidekick Martial Arts Management</h1>
  <p class="lead">Welcome to your personal Management Portal.</p>
  <hr class="my-4">
  <p>Use the below form in order to login to your Sidekick Instance. If you have any issues, please reach out to us at <%=mail_to('blackbelt@t0urnament.net','blackbelt@t0urnament.net') %>.</p>
  <p class="lead">
  </div>
  <h2 class="text-center text-uppercase">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password",class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group">
          <%= f.check_box :remember_me,class: "form-control" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in",class: "btn btn-primary" %>
      </div>
      
  <% end %>

<div class="form-group">
        <%= render "devise/shared/links" %>
      </div>
</div>
