<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="#"><img class="logo" src="/images/tnet.png" width="50" height="50"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Dashboard', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit Configuration', edit_dojo_path(1), class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to 'View Ranks', ranks_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'View Students', students_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Launch PhotoWall', welcomes_path, class: "nav-link disabled" %>
      </li>
    </ul>
    <span class="navbar-text white-text">
       Side Kick&reg; Configuration
    </span>
  </div>
</nav>

<script>
$(document).ready(function(){
	$('#hchart').highcharts({
		chart:{
			plotBackgroundColor:null,
			plotBorderWidth:null,
			plotShadow:false
		},
		title:{
			text: 'Attendance Insight'
		},
		tooltip:{
			pointFormat: '{series.name}:<b>{point.percentage:.1f}%</b>'
		},
		plotOptions:{
			pie:{
				allowPointSelect: true,
				cursor: 'pointer',
				dataLabels:{
					enabled:true,
					format: '<b>{point.name}</b>: {point.percentage:.1f} %',
					style: {
						color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
					}
				}
			}
		},
		series:[{
			type: 'pie',
			name: 'Popularity',
			data:[
				['Mon', <%=@mon.to_f/@attendances.count.to_f %>],
				['Tue', <%=@tue.to_f/@attendances.count.to_f %>],
				['Wed', <%=@wed.to_f/@attendances.count.to_f %>],
				['Thu', <%=@thu.to_f/@attendances.count.to_f %>],
				['Fri', <%=@fri.to_f/@attendances.count.to_f %>],
				['Sat', <%=@sat.to_f/@attendances.count.to_f %>],
				['Sun', <%=@sun.to_f/@attendances.count.to_f %>]
			]
		}]
	});

});
</script>
</script>
<div class="container">
	<div class="row"></div>
<table class="table-dark table-bordered text-center">
  <tr>
    <th>My Logo</th>
    <th>Dojo Name</th>
    <th>Motto</th>
    <th>Telephone</th>
    <th>Website</th>
    <th>Email</th>
    <th>Social Connections</th>
  </tr>

<% @dojos.each do |dojo| %>
  <tr>
                <td>
                        <% if dojo.pic? then %>
                                <%= image_tag dojo.pic_url(:thumb), width: "50px" %>
                        <% end %>
                </td>
    <td><%= dojo.name %></td>
    <td><%= dojo.motto %></td>
    <td><%= dojo.telephone %></td>
    <td><%= dojo.website %></td>
    <td><%= dojo.email %></td>
    <td>
	<% if !dojo.twitter == "" %>
		<%= link_to(image_tag("/images/png_twitter2.png", :size => "25x25"),"https://www.twitter.com/#{dojo.twitter}",:id => 'twitter',:title => "https://www.twitter.com/#{dojo.twitter}") %>
	<% else %>
		<%= link_to(image_tag("/images/png_twitter2.png", :size => "25x25", :style => "opacity:0.25; filter:alpha(opacity=25);"),"#") %>
	<% end %>

	 <% if !dojo.facebook == "" %>
                <%= link_to(image_tag("/images/facebook.png", :size => "25x25"),dojo.facebook,:id =>'facebook',:title =>"#{dojo.facebook}") %>
        <% else %>
               <%= link_to(image_tag("/images/facebook.png", :size => "25x25", :style => "opacity:0.25; filter:alpha(opacity=25);"),"#") %>
        <% end %>

 	<% if !dojo.youtube == "" %>
                <%= link_to(image_tag("/images/youtube.jpg", :size => "25x25"),"https://www.youtube.com/user/#{dojo.youtube}",:id => 'youtube',:title => "https://www.youtube.com/user/#{dojo.youtube}") %>
        <% else %>
                <%= link_to(image_tag("/images/youtube.jpg", :size => "25x25", :style => "opacity:0.25; filter:alpha(opacity=25);"),"#") %>
        <% end %>
    </td>
    
</tr>
<% end %>
</table>
<div class="row">
<div class="group">
<h2>Upcoming Birthdays</h2>
<% @students.each do |s| %>
   <% if s.dob != nil %>
	<% if s.dob.month == Time.now.month %>
		<% if s.rank.base == "black" %>
			<%= image_tag('black-belt-25x25.png')%>
		<% end %>
		<%= s.first_name %> <%= s.last_name %> (<%= s.dob.month %>/<%= s.dob.day %>) - <%= link_to('Send Note',:controller => "students",:action => "happyBirthday", :id => s.id) %><br />
	<% end %>
  <% end%>
<% end %>
</div>
</div>
<div class="row">
<div class="group">
<h2>Missing Students</h2>
<% @students.each do |s| %>
	<% if s.is_missed %>
		<%= s.first_name %> <%= s.last_name %> - <%= link_to('Send Note',:controller => "students",:action => "missme", :id => s.id) %><br />
	<% end %>
<% end %>
</div>
</div>
<div class="row">
<div class="group">
<h2>Top Classes</h2>
<% if @attendances.count > 1 %>
	Monday: <%= ((@mon.to_f/@attendances.count.to_f) * 100).round %>%
	Tuesday: <%= ((@tue.to_f/@attendances.count.to_f) * 100).round %>% 
	Wednesday: <%= ((@wed.to_f/@attendances.count.to_f) * 100).round %>%
	Thursday: <%= ((@thu.to_f/@attendances.count.to_f) * 100).round %>% 
	Friday: <%= ((@fri.to_f/@attendances.count.to_f) * 100).round %>% 
	Saturday: <%= ((@sat.to_f/@attendances.count.to_f) * 100).round %>% 
	Sunday: <%= ((@sun.to_f/@attendances.count.to_f) * 100).round %>%
<% end %> 
</div>
</div>
<div id="hchart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
</div>